#profile, #show-date, #pop{
	position: fixed;
	top: 10%;
	left: 38%;
	border: solid;
	border-radius: 10px;
	padding: 5px;
	background-color: #D9EDF7;
	box-shadow: 0px 0px 20px #5A5B63;
}

.dc-table-head img, a, #slider-range span{
	cursor: pointer;
}

.container {
	width: 90%;
}

.row {
	margin-left: auto;
	margin-right: auto;
}
